<div>
    <h2 translate="aplikasiApp.rKantor.home.title">RKantors</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="rKantor.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="aplikasiApp.rKantor.home.createLabel">Create new RKantor
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'aplikasiApp.rKantor.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="id_kantor"><span translate="aplikasiApp.rKantor.id_kantor">Id_kantor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="kantor"><span translate="aplikasiApp.rKantor.kantor">Kantor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alamat"><span translate="aplikasiApp.rKantor.alamat">Alamat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telepon"><span translate="aplikasiApp.rKantor.telepon">Telepon</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rKantor in rKantors track by rKantor.id">
                    <td><a ui-sref="rKantor.detail({id:rKantor.id})">{{rKantor.id}}</a></td>
                    <td>{{rKantor.id_kantor}}</td>
                    <td>{{rKantor.kantor}}</td>
                    <td>{{rKantor.alamat}}</td>
                    <td>{{rKantor.telepon}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="rKantor.detail({id:rKantor.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="rKantor.edit({id:rKantor.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="rKantor.delete({id:rKantor.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
